{% extends 'templates/tcis-base.html' %}

{% block content %}
    <section class="page-title page-title-layout8 bg-overlay bg-overlay-gradient bg-parallax">
      <div class="bg-img"><img src="/assets/tcis/homeland/images/page-titles/8.jpg" alt="background"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h1 class="pagetitle__heading">Keep Business Safe And Ensure High Availability.</h1>
            <p class="pagetitle__desc">We are experienced professionals who understand that It services is changing, and
              are true partners who care about your success. Our team provides a consultative approach on emerging
              technology.</p>
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 cta-banner-wrapper d-flex justify-content-end">
            <div class="cta-banner text-center">
              <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                <div class="cta__item">
                  <div class="cta__icon"><i class="icon-operating-system"></i></div>
                  <h4 class="cta__title">Software License</h4>
                  <p class="cta__desc">Build dynamic request templates with associated workflows, and tasks.</p>
                </div><!-- /.cta__item -->
                <div class="cta__item">
                  <div class="cta__icon"><i class="icon-dos"></i></div>
                  <h4 class="cta__title">Privileged Access</h4>
                  <p class="cta__desc">Extend proven Tech best practices to HR, finance, and other service
                    delivery areas.</p>
                </div><!-- /.cta__item -->
              </div><!-- /.slick-carousel -->
            </div><!-- /.cta-banner -->
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <nav>
              <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">IT Solutions</li>
              </ol>
            </nav>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ========================
        Services Layout 2
    =========================== -->
    <section class="services-layout2 pt-130 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading text-center mb-50">
              <h2 class="heading__subtitle">Nationwide Service, Local Expertise</h2>
              <h3 class="heading__title"> Offering the latest software and IT services to our customers!</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- service item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-server"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">IT Management <br> Services</h4>
                <p class="service__desc">IT management service that manages and oversees the IT infrastructure of
                  any civil organization responsible for network and operations which includes data </p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Business IT alignment</li>
                  <li> IT financial management</li>
                  <li> IT service management</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-cyberspace"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Cyber Security<br> Services</h4>
                <p class="service__desc">Drive your business and manage risk with a global industry leader in
                  cybersecurity, cloud, and managed security services and extend your team with leading experts.</p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Internet security</li>
                  <li>Automotive security</li>
                  <li>Cyberwarfare</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-cloud-computing"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Cloud Computing<br> Services</h4>
                <p class="service__desc">Cloud computing is on-demand availability of computer system resources,
                  especially data storage computing power, without direct active management by the user.</p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Private cloud services</li>
                  <li>Public cloud services</li>
                  <li>Hybrid cloud services</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #4 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-permission"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">IT Consulting <br> Services</h4>
                <p class="service__desc">TTrying to solve all your IT challenges internally can become costly and a
                  major distraction, Leveraging knowledgeable IT consulting firms like ushelps business. </p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Scoping & planning</li>
                  <li>Process & system design</li>
                  <li>Project management support</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #5 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-code"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Software Dev<br> Services</h4>
                <p class="service__desc">With shorter product cycles, innovation, and mergers contributing to
                  constant change, you are faced making business decisions every day to advance.</p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Implementation</li>
                  <li>Testing & documenting</li>
                  <li>Deployment & maintenance</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #6 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service__content">
                <div class="service__icon">
                  <i class="icon-internet"></i>
                </div><!-- /.service__icon -->
                <h4 class="service__title">Backup & Recovery<br> Services</h4>
                <p class="service__desc">While you can’t predict unexpected events, we’ll ensure the right
                  precautions are in place to minimize downtime and keep you moving in the right direction.</p>
                <ul class="list-items list-unstyled mb-30">
                  <li>Compression & Deduplication</li>
                  <li>Duplication & Encryption</li>
                  <li>Multiplexing & Refactoring</li>
                </ul>
                <a href="it-solutions-single.html" class="btn btn__secondary">
                  <span>Read More</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 2 -->

    <!-- ======================
    Features Layout 1
    ========================= -->
    <section class="features-layout1 pb-0">
      <div class="features-bg">
        <div class="bg-img"><img src="/assets/tcis/homeland/images/backgrounds/14.jpg" alt="background"></div>
      </div>
      <div class="container">
        <div class="row heading heading-light mb-30">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="divider divider-primary mb-20"></div>
            <h3 class="heading__title">Provides consultative approach on emerging technology. </h3>
          </div><!-- /col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
            <div class="row">
              <div class="col-sm-6">
                <p class="heading__desc">As one of the world's largest ITService Providers with over 120 engineers and
                  IT support staff are ready to help.</p>
                <a href="#" class="btn btn__primary btn__primary-style2 btn__icon mt-30 mb-30">
                  <span>Our Pricing</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.col-sm-6 -->
              <div class="col-sm-6">
                <p class="heading__desc">SmartData been helping organizations and Providers through the World to manage
                  their IT with our unique approach to technology management and consultancy solutions. </p>
              </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Feature item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item text-center">
              <div class="feature__icon">
                <i class="icon-software"></i>
              </div>
              <h4 class="feature__title">Software Asset</h4>
              <p class="feature__desc">All aspects of your software assets including purchasing, deployment &
                maintenance.</p>
              <a href="#" class="btn__link"><i class="icon-arrow-right icon-outlined"></i></a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item text-center">
              <div class="feature__icon">
                <i class="icon-dos"></i>
              </div>
              <h4 class="feature__title">Privileged Access</h4>
              <p class="feature__desc">Extend proven Tech best practices to HR, finance, and other service delivery
                areas.</p>
              <a href="#" class="btn__link"><i class="icon-arrow-right icon-outlined"></i></a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item text-center">
              <div class="feature__icon">
                <i class="icon-operating-system"></i>
              </div>
              <h4 class="feature__title">Software License</h4>
              <p class="feature__desc">Build dynamic request templates with associated workflows, and tasks.</p>
              <a href="#" class="btn__link"><i class="icon-arrow-right icon-outlined"></i></a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item text-center">
              <div class="feature__icon">
                <i class="icon-machine-learning"></i>
              </div>
              <h4 class="feature__title">Enterprise Service</h4>
              <p class="feature__desc">Our technology allows you to offer the latest software to your possible
                customers!</p>
              <a href="#" class="btn__link"><i class="icon-arrow-right icon-outlined"></i></a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
        <div class="row mt-40">
          <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-between">
            <div class="row row-no-gutter read-note">
              <div class="col-sm-4">
                <div class="rating mb-10">
                  <i class="fas fa-star color-primary"></i>
                  <i class="fas fa-star color-primary"></i>
                  <i class="fas fa-star color-primary"></i>
                  <i class="fas fa-star color-primary"></i>
                  <i class="fas fa-star color-primary"></i>
                </div>
              </div><!-- /.col-lg-4 -->
              <div class="col-sm-8">
                <p class="read-note__text color-white">
                  <span class="font-weight-bold text-underlined">99.9% Customer Satisfaction</span>
                  based on 750+ reviews and 20,000 Objective Resource
                </p>
              </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-30 font-weight-bold sub__desc">As one of the world's largest ITService Providers with over
                  120
                  engineers and IT support staff are ready to help.</p>
                <a href="#" class="btn btn__primary btn__bordered btn__icon mb-30">
                  <span>Request Demo</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.col-sm-6 -->
              <div class="col-sm-6">
                <ul class="list-items list-unstyled mb-30">
                  <li>450,000 client’s interactions </li>
                  <li>Help challenge critical activities</li>
                  <li>Simplify &amp; Automate Workflows</li>
                  <li>Peer perspectives and advice</li>
                </ul>
              </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6">
            <img src="/assets/tcis/homeland/images/banners/3.jpg" alt="banner">
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Features Layout 1 -->

    <hr class="mt-120 mb-30">

    <!-- ===========================
      portfolio Grid
    ============================= -->
    <section class="portfolio-grid portfolio-grid-carousel pb-40">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="heading mb-50">
              <div class="d-flex align-items-center">
                <div class="divider divider-primary mr-30"></div>
                <h2 class="heading__subtitle mb-0">Success Stories</h2>
              </div>
              <h3 class="heading__title mb-0">Latest Case Studies</h3>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 3, "slidesToScroll": 2, "arrows": true, "dots": true, "autoplay": true,"autoplaySpeed": 4000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- portfolio item #1 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/1.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Building</a><a href="#">Interior</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">Financial’s Need For
                      Strategic Advisor</a></h4>
                  <p class="portfolio__desc">We delivered solutions at every step, and moved seamlessly into a more
                    proactive role as a strategic advisor, providing support and guidance across all IT topics.</p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #2 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/2.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Software</a><a href="#">Support</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">24x7 System Monitoring and
                      Alert Response</a></h4>
                  <p class="portfolio__desc">This single, unified platform integrates all operational phases of
                    selling and activation of their wireless services and devices, and serves as the backbone of the
                    operations.</p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #3 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/3.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Management</a><a href="#">Cloud</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">Nonprofit Organization
                      Utilized Security</a></h4>
                  <p class="portfolio__desc">Servers going down on a weekly basis had become the organization’s
                    “normal.” We came on board with the objective of stabilizing the environment, assisting </p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #4 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/4.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Digital</a><a href="#">HR</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">Powerful IT Upgrade Aligns
                      With Your Objectives</a></h4>
                  <p class="portfolio__desc">They needed a robust management solution to organize archive critical
                    documents for client cases, and wanted to determine solutions at every step, and moved </p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #5 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/5.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Consulting</a><a href="#">Management</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">The Best IT Practices in Cloud
                      and Security</a></h4>
                  <p class="portfolio__desc">This single, unified platform integrates all operational phases of
                    selling and activation of their wireless services and devices, and serves as the backbone of the
                    operations.</p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
              <!-- portfolio item #6 -->
              <div class="portfolio-item">
                <div class="portfolio__img">
                  <img src="/assets/tcis/homeland/images/portfolio/grid/6.jpg" alt="portfolio img">
                </div><!-- /.portfolio-img -->
                <div class="portfolio__content">
                  <div class="portfolio__cat">
                    <a href="#">Software</a><a href="#">Security</a>
                  </div><!-- /.portfolio-cat -->
                  <h4 class="portfolio__title"><a href="#">Helping Companies With
                      Healthcare Inustry</a></h4>
                  <p class="portfolio__desc">Servers going down on a weekly basis had become the organization’s
                    “normal.” We came on board with the objective of stabilizing the environment, assisting </p>
                  <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.portfolio-content -->
              </div><!-- /.portfolio-item -->
            </div><!-- /.carousel -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.portfolio Grid  -->

    <!-- =========================
       Banner layout 2
      =========================== -->
    <section class="banner-layout2 pb-0 bg-overlay bg-overlay-primary">
      <div class="bg-img"><img src="/assets/tcis/homeland/images/banners/8.jpg" alt="background"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-inner">
            <div class="heading heading-light">
              <h3 class="heading__title mb-30">Satisfied Users Over The Globe</h3>
            </div>
            <div class="testimonials testimonials-wrapper">
              <div class="slider-with-navs">
                <!-- Testimonial #1 -->
                <div class="testimonial-item">
                  <p class="testimonial__desc color-white">If you’re looking for a rewarding career and the
                    chance to make an
                    impact, you’ve come to the right place. We will transform your business through our techniques!
                  </p>
                  <div class="testimonial__meta">
                    <h4 class="testimonial__meta-title">Ahmed Abdallah</h4>
                    <p class="testimonial__meta-desc">Digital Media Manager</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <p class="testimonial__desc color-white"> If you’re looking for a rewarding career and the chance to
                    make an impact, you’ve come to the right place. We will transform your business through our
                    techniques! </p>
                  <div class="testimonial__meta">
                    <h4 class="testimonial__meta-title">John Peter</h4>
                    <p class="testimonial__meta-desc">7oroof Inc</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #3 -->
                <div class="testimonial-item">
                  <p class="testimonial__desc color-white">If you’re looking for a rewarding career and the
                    chance to make an
                    impact, you’ve come to the right place. We will transform your business through our techniques!
                  </p>
                  <div class="testimonial__meta">
                    <h4 class="testimonial__meta-title">Ayman</h4>
                    <p class="testimonial__meta-desc">7oroof Inc</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <p class="testimonial__desc color-white"> If you’re looking for a rewarding career and the chance to
                    make an impact, you’ve come to the right place. We will transform your business through our
                    techniques! </p>
                  <div class="testimonial__meta">
                    <h4 class="testimonial__meta-title">John Peter</h4>
                    <p class="testimonial__meta-desc">7oroof Inc</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #3 -->
                <div class="testimonial-item">
                  <p class="testimonial__desc color-white">My project was a simple & small task, but the
                    persistence and
                    determination turned it into an awesome and great project which make me happy .
                  </p>
                  <div class="testimonial__meta">
                    <h4 class="testimonial__meta-title">John Peter</h4>
                    <p class="testimonial__meta-desc">7oroof Inc</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
              </div>
              <div class="slider-nav">
                <div class="testimonial__thumb">
                  <img src="/assets/tcis/homeland/images/testimonials/thumbs/1.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial__thumb">
                  <img src="/assets/tcis/homeland/images/testimonials/thumbs/2.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial__thumb">
                  <img src="/assets/tcis/homeland/images/testimonials/thumbs/3.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial__thumb">
                  <img src="/assets/tcis/homeland/images/testimonials/thumbs/2.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial__thumb">
                  <img src="/assets/tcis/homeland/images/testimonials/thumbs/3.png" alt="author thumb">
                </div><!-- /.testimonial-thumb -->
              </div><!-- /.slcik-nav -->
            </div><!-- /.testimonials -->
            <div class="divider divider-light w-100 mt-60 mb-60"></div>
            <div class="heading heading-light">
              <h3 class="heading__title mb-30">Our Trusted Clients</h3>
            </div>
            <div class="clients">
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 4, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 3}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/1.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/1.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/2.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/2.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/3.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/3.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/4.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/4.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/5.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/5.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/6.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/6.png" alt="client">
                </div><!-- /.client -->
                <div class="client">
                  <img src="/assets/tcis/homeland/images/clients/7.png" alt="client">
                  <img src="/assets/tcis/homeland/images/clients/7.png" alt="client">
                </div><!-- /.client -->
              </div><!-- /.carousel -->
            </div>
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="contact-panel">
              <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                <div class="row">
                  <div class="col-12">
                    <h4 class="contact-panel__title mb-20">Request A Quote</h4>
                    <p class="contact-panel__desc mb-30">Our deep pool of certified engineers and IT staff are ready
                      to
                      help you to keep your IT business safe & ensure high availability.</p>
                  </div> <!-- /.col-12 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                        required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" id="contact-email"
                        name="contact-email" required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <select class="form-control">
                        <option value="0">Inquiry</option>
                        <option value="1">IT Management Services 2</option>
                        <option value="2">IT Management Services 3</option>
                      </select>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                        name="contact-phone">
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Additional Details!" id="contact-message"
                        name="contact-message"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center mb-20">
                      <input type="checkbox" class="custom-control-input" id="acceptTerms">
                      <label class="custom-control-label" for="acceptTerms">I accept the privacy and terms.</label>
                    </div>
                    <button type="submit" class="btn btn__primary btn__xl btn__block">Submit Request </button>
                    <div class="contact-result"></div>
                  </div><!-- /.col-12 -->
                </div><!-- /.row -->
              </form>
            </div>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner layout 2 -->

    <!-- =========================
      Awards
      =========================== -->
    <section class="awards pb-70">
      <div class="container">
        <div class="row heading mb-60">
          <div class="col-12 d-flex align-items-center mb-20">
            <div class="divider divider-primary mr-30"></div>
            <h2 class="heading__subtitle mb-0">Timely Service Delivery & Incident Resolutions!! </h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-5">
            <h3 class="heading__title">Trusted by the world's best organizations for 21 years.
            </h3>
          </div><!-- /col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-2">
            <p class="heading__desc">SmartData been helping organizations and Providers through the World to manage
              their IT with our unique approach to technology management and consultancy solutions. </p>
            <a href="#" class="btn btn__primary btn__icon mt-20">
              <span>Get Started</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
        <div class="row awards-wrapper">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #1 -->
            <div class="fancybox-item">
              <div class="fancybox__icon-img">
                <img src="/assets/tcis/homeland/images/awards/icons/1.png" alt="icon">
              </div><!-- /.fancybox__icon-img -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">CSS Design Award</h4>
                <p class="fancybox__desc">A web design & development award platform for digital folk, UI/UX peeps
                  and inspiring leaders of the web.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #2 -->
            <div class="fancybox-item">
              <span class="pinned-ribbon"></span>
              <div class="fancybox__icon-img">
                <img src="/assets/tcis/homeland/images/awards/icons/2.png" alt="icon">
              </div><!-- /.fancybox__icon-img -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">W3 Design Award</h4>
                <p class="fancybox__desc">Awards celebrates digital by honoring outstanding Websites, Web
                  Marketing, Video, Sites, Apps & Social content.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #3 -->
            <div class="fancybox-item">
              <div class="fancybox__icon-img">
                <img src="/assets/tcis/homeland/images/awards/icons/3.png" alt="icon">
              </div><!-- /.fancybox__icon-img -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">The FWA Award</h4>
                <p class="fancybox__desc">Showcasing innovation every day since 2000, our mission is to showcase
                  cutting edge creativity, regardless
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #4 -->
            <div class="fancybox-item">
              <div class="fancybox__icon-img">
                <img src="/assets/tcis/homeland/images/awards/icons/3.png" alt="icon">
              </div><!-- /.fancybox__icon-img -->
              <div class="fancybox__content">
                <h4 class="fancybox__title">WWW Awards</h4>
                <p class="fancybox__desc">The awards that recognize the talent and effort of the best web
                  designers, developers and agencies in the world.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Awards -->

    <!-- =====================
           Clients
    ======================== -->
    <section class="clients border-top pt-50 pb-50">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/1.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/1.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/2.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/2.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/3.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/3.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/4.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/4.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/5.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/5.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/6.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/6.png" alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src="/assets/tcis/homeland/images/clients/7.png" alt="client">
                <img src="/assets/tcis/homeland/images/clients/7.png" alt="client">
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.clients -->
    {% endblock %}
